.playful span {
  position: relative;
  color: #5362f6;
  text-shadow: 0.25px 0.25px #e485f8, 0.5px 0.5px #e485f8, 0.75px 0.75px #e485f8,
    1px 1px #e485f8, 1.25px 1.25px #e485f8, 1.5px 1.5px #e485f8,
    1.75px 1.75px #e485f8, 2px 2px #e485f8, 2.25px 2.25px #e485f8,
    2.5px 2.5px #e485f8, 2.75px 2.75px #e485f8, 3px 3px #e485f8,
    3.25px 3.25px #e485f8, 3.5px 3.5px #e485f8, 3.75px 3.75px #e485f8,
    4px 4px #e485f8, 4.25px 4.25px #e485f8, 4.5px 4.5px #e485f8,
    4.75px 4.75px #e485f8, 5px 5px #e485f8, 5.25px 5.25px #e485f8,
    5.5px 5.5px #e485f8, 5.75px 5.75px #e485f8, 6px 6px #e485f8;
  animation: scatter 1.75s infinite;
}
.playful span:nth-child(2n) {
  color: #ed625c;
  text-shadow: 0.25px 0.25px #f2a063, 0.5px 0.5px #f2a063, 0.75px 0.75px #f2a063,
    1px 1px #f2a063, 1.25px 1.25px #f2a063, 1.5px 1.5px #f2a063,
    1.75px 1.75px #f2a063, 2px 2px #f2a063, 2.25px 2.25px #f2a063,
    2.5px 2.5px #f2a063, 2.75px 2.75px #f2a063, 3px 3px #f2a063,
    3.25px 3.25px #f2a063, 3.5px 3.5px #f2a063, 3.75px 3.75px #f2a063,
    4px 4px #f2a063, 4.25px 4.25px #f2a063, 4.5px 4.5px #f2a063,
    4.75px 4.75px #f2a063, 5px 5px #f2a063, 5.25px 5.25px #f2a063,
    5.5px 5.5px #f2a063, 5.75px 5.75px #f2a063, 6px 6px #f2a063;
  animation-delay: 0.3s;
}
.playful span:nth-child(3n) {
  color: #ffd913;
  text-shadow: 0.25px 0.25px #6ec0a9, 0.5px 0.5px #6ec0a9, 0.75px 0.75px #6ec0a9,
    1px 1px #6ec0a9, 1.25px 1.25px #6ec0a9, 1.5px 1.5px #6ec0a9,
    1.75px 1.75px #6ec0a9, 2px 2px #6ec0a9, 2.25px 2.25px #6ec0a9,
    2.5px 2.5px #6ec0a9, 2.75px 2.75px #6ec0a9, 3px 3px #6ec0a9,
    3.25px 3.25px #6ec0a9, 3.5px 3.5px #6ec0a9, 3.75px 3.75px #6ec0a9,
    4px 4px #6ec0a9, 4.25px 4.25px #6ec0a9, 4.5px 4.5px #6ec0a9,
    4.75px 4.75px #6ec0a9, 5px 5px #6ec0a9, 5.25px 5.25px #6ec0a9,
    5.5px 5.5px #6ec0a9, 5.75px 5.75px #6ec0a9, 6px 6px #6ec0a9;
  animation-delay: 0.15s;
}
.playful span:nth-child(5n) {
  color: #555bff;
  text-shadow: 0.25px 0.25px #e485f8, 0.5px 0.5px #e485f8, 0.75px 0.75px #e485f8,
    1px 1px #e485f8, 1.25px 1.25px #e485f8, 1.5px 1.5px #e485f8,
    1.75px 1.75px #e485f8, 2px 2px #e485f8, 2.25px 2.25px #e485f8,
    2.5px 2.5px #e485f8, 2.75px 2.75px #e485f8, 3px 3px #e485f8,
    3.25px 3.25px #e485f8, 3.5px 3.5px #e485f8, 3.75px 3.75px #e485f8,
    4px 4px #e485f8, 4.25px 4.25px #e485f8, 4.5px 4.5px #e485f8,
    4.75px 4.75px #e485f8, 5px 5px #e485f8, 5.25px 5.25px #e485f8,
    5.5px 5.5px #e485f8, 5.75px 5.75px #e485f8, 6px 6px #e485f8;
  animation-delay: 0.4s;
}
.playful span:nth-child(7n),
.playful span:nth-child(11n) {
  color: #ff9c55;
  text-shadow: 0.25px 0.25px #f55, 0.5px 0.5px #f55, 0.75px 0.75px #f55,
    1px 1px #f55, 1.25px 1.25px #f55, 1.5px 1.5px #f55, 1.75px 1.75px #f55,
    2px 2px #f55, 2.25px 2.25px #f55, 2.5px 2.5px #f55, 2.75px 2.75px #f55,
    3px 3px #f55, 3.25px 3.25px #f55, 3.5px 3.5px #f55, 3.75px 3.75px #f55,
    4px 4px #f55, 4.25px 4.25px #f55, 4.5px 4.5px #f55, 4.75px 4.75px #f55,
    5px 5px #f55, 5.25px 5.25px #f55, 5.5px 5.5px #f55, 5.75px 5.75px #f55,
    6px 6px #f55;
  animation-delay: 0.25s;
}
@keyframes scatter {
  0% {
    top: 0;
  }
  50% {
    top: -10px;
  }
  100% {
    top: 0;
  }
}
body {
  background-color: #e4fff7;
}
h1 {
  font-size: 85px;
  text-transform: uppercase;
  font-family: "Archivo Black", "Archivo", sans-serif;
  font-weight: normal;
  display: block;
  width: 666px;
  max-width: 80vw;
  min-height: 90px;
  height: auto;
  text-align: center;
  margin: 10rem auto;
  margin: calc(50vh - 9rem) auto;
}
